/* make footer stick to the bottom */
#google-buttons {
  text-align: center;
  margin: 20px;
}

div.card-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
