a.go-back-button {
  margin-bottom: 25px;
}
.favorites-button {
  display: flex;
  justify-content: center;
}
.google-calendar {
  margin: 150px;
  margin-top: 50px;
}
#google-buttons {
  text-align: center;
}
.remove-from-favorites-button {
  display: flex;
  justify-content: center;
}

.h-100 {
  height: 100% !important;
}

.nav-right-need-space {
  margin-right: 20px;
}
